<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>Overzicht voor {{ handle }}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="http://ode.politicalmashup.nl/resolver/static/css/default.css">
    </head>
    <body>
        <div id="menu">
            <div class="logo"><img src="http://ode.politicalmashup.nl/resolver/static/img/politicalmashup-small.png" alt="PoliticalMashup logo" class="logo" />
            </div>
        </div>
        <div id="content">
            <button onclick="window.location.href='{{ next_scene }}'" style="margin: 40px;">Continue</button>
            <div>
            {% for scene in usr_progress %}
                <div><i class="glyphicon glyphicon-{% if scene.done %}ok{% else %}pencil{% endif %}"></i> {{ scene.department }}: <a href="{{ scene.url }}">{{ scene.label }}</a></div>
            {% endfor %}
            </div>
        </div>
    </body>
</html>