<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>nl.proc.ob.d.h-tk-20082009-6508-6526.1.15</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/css/default.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.js"></script>
        <script type="text/javascript" src="static/js/default.js"></script>
    </head>
    <body onload="highlight_hash();">
        <script>
            var annotator = {{ annotator|safe }};
            function openBlank(url) {
              var win = window.open(url, '_blank');
              win.focus();
            }
        </script>
        {{ topic_body|safe }}
        
        <div class="modal fade" id="remove-prompt" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
              </div>
              <div class="modal-body">
                <form onsubmit="return false;">
                  <span>To remove the annotation altogether, click OK.</span><br>
                  <span>You can also enter an URL and then click OK to modify the annotation.</span>
                  <div class="hide" id="remv_ann_id"></div>
                  <div class="form-group">
                    <label for="url" class="control-label">URL:</label>
                    <input type="text" class="form-control" id="manual-url" placeholder="(optional) an nl.wikpedia.org or politicalmashup.nl URL">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submit-remove-prompt">OK, save</button>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>